:root {
  --primary: #373D73;
  --secondary: #405E8F;
  --accent: #404685;
  --text: #C5C5C5;
  --header : #FFFFFF;
  --bg: #1E2030;
  --quotes: #E6AF6D;
}

body {
    background-color:var(--bg);
    color: var(--text);
    font-family: 'Georgia', serif;
    line-height: 1.6;
    padding: 0;
    margin: 0;
  }

  .sitename {
    text-align: center;
    background-color: #313855;
    padding: 1rem 2rem;
    color: var(--header);
    font-weight: bold;
    border-bottom: 3px solid var(--secondary);
  }

  .navbar {
    text-align: center;
    background-color: var(--accent);
    padding: 1rem 2rem;
    color: var(--header);
    font-weight: bold;
    border-bottom: 3px solid var(--secondary);
  }

  .content {
    max-width: 800px;
    margin: 2rem auto;
    background-color: #2E3360;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }

  h1, h2 {
    color: var(--header);
  }

  p {
    margin-bottom: 1rem;
  }

  blockquote {
    border-left: 4px solid var(--secondary);
    padding-left: 1rem;
    margin-left: 0;
    color: var(--quotes);
    font-style: italic;
    background-color: #3A3F73;
    border-radius: 10px;
    padding: 1rem;
  }

  hr {
    border: none;
    height: 1px;
    background-color: var(--text);
    margin: 2rem 0;
  }

  .code {
    font-family: monospace;
    background-color: var(--accent);
    color: var(--header);
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
  }

  .linkbox {
    text-align: center;
  }

  a {
    background-color: #3A3F73;
    text-decoration: none;
    font-size: xx-large;
    border-radius: 10px;
    color: var(--text);
    padding: 1rem;
    text-align: center;
  }

  .code:hover, a:hover {
    filter: brightness(1.2);
    transition: 0.2s;
  }